<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css"/>

    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css'/>

    <script src="../js/search_ingredients.js" defer></script>

    <script src="https://cdn.tailwindcss.com/3.3.2"></script>

    <title>Search Ingredients</title>

    <style>

        .recipe-card a {
            text-decoration: none;
            color: inherit;
        }

        .recipe-card img {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }

        .recipe-info {
            padding: 15px;
            text-align: center;
        }

        .recipe-info h3 {
            margin: 0;
            color: #333;
            font-size: 1.2em;
        }

    </style>
</head>

<body>
<a class="btn_previous_page" href="/">
    Previous Page
</a>
<div class="container">
    <h1 class="text-7xl text-white text-center p-16" style="font-family: Pacifico,serif">Search Ingredients</h1>
    <div class="page-content mr-20 ml-20">
        <div class="card_container d-flex space-x-12 justify-center">
            <div class="recipe-grid">
                <table id="ingredients">
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
